primer.py
__pycache__/Unos_podataka.cpython-35.pyc
__pycache__/Unos.cpython-35.pyc
__pycache__/teren.cpython-35.pyc
__pycache__/primer.cpython-35.pyc
__pycache__/Kretanje.cpython-35.pyc
__pycache__/Crta.cpython-35.pyc
__pycache__/Kretanje.cpython-35.pyc
__pycache__/Broj_Instrukcija.cpython-35.pyc
__pycache__/Kretanje.cpython-35.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/workspace.xml

